.title {
  opacity: 0;
  transform: translateY(100%);
  transition: var(--rs-duration-fast) var(--rs-easing-standard);
  transition-property: opacity, transform;
}

.title--active {
  opacity: 1;
  transform: translateY(0);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--rs-unit-x6);
}

.content video {
  max-width: 100%;
  border-radius: var(--rs-unit-radius-medium);
}
